p.intro {
  width: 50%;
  font-style: italic;
}

p.author {
  width: 75%;
  font-style: italic;
  font-weight: bold;
}

p.important {
  color: green;
}

.important {
  color: red;
}

.unimportant {
  color: blue;
}

.fish-type {
  font-style: oblique;
  color: brown;
}

.highlight {
  color: black;
}

img {
  float: left;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
}

.column {
  width: 20%;
  float: left;
}

.main {
  color: magenta;
  float: right;
}

.my-class {
  margin: 12px;
  border: 2px dashed green;
  padding: 4px;
  background-color: orange;
  background-image: url(https://www.google.com) ;
}